<pre>
    - faire une option pour choisir son theme
    - faire la selection de la longeur par filtre (etiquette)
    - faire les comptes pour enregistrer les preferences ou alors un cookie.
    - a la longue proposer un endroit ou tu enregistre tes congés, rtt ,tp etc...
    - permettre d'afficher les reunions securités et synidcal
    - exportation en ics
    - avant de faire les reunion etc.. faire un systeme de cache qui enregistre en memoire dans un json par exemple

    - type d'utilisateurs : (non enregistré)(enregistré (obligatoirement assigné a une equipe (modifiable biensur))
    les plus plus pour les syndiqué et les rep ( pour enregistré les informations reunion et deleg))
</pre>
